@using Models
@model List<Presupuestos>

@if (ViewBag.ErrorMessage != null)
{
    <div class="error-message">
        <p>@ViewBag.ErrorMessage</p>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

<h1>Lista de Presupuestos</h1>
@if (Model.Count > 0)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var presupuesto in Model)
            {
                <tr>
                    <td>@presupuesto.IdPresupuesto</td>
                    <td>@presupuesto.FechaCreacion.ToString("dd/MM/yyyy")</td>
                    <td><a asp-controller="Presupuestos" asp-action="MostrarPresupuesto"
                            asp-route-id="@presupuesto.IdPresupuesto" class="btn btn-info">Ver Detalles</a>                        
                        <a asp-controller="Presupuestos" asp-action="EliminarPresupuesto"
                            asp-route-id="@presupuesto.IdPresupuesto" class="btn btn-danger">Eliminar Presupuesto</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2 class="text-center text-muted">SIN PRESUPUESTOS</h2>
}
<div class="text-center">
    <a asp-controller="Presupuestos" asp-action="CrearPresupuesto" class="btn btn-success mb-2">Crear Presupuesto</a>
</div>